* {
  font-size: 16px;
}

header {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  height: 40px;
}
.header__nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
